/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
*{
    margin: 0;
    padding: 0;
}

.v-text-field input{
    min-height: 40px;
}

#qg_team_slider_modal {
    display: none;
}